.estudiantes{
	list-style-type: none;
  }
  .estudiantes li{
  	border-width:1px;
  	border-style: outset;
	margin: 2rem;
	padding:1rem;
	background-color: #f5f7f9;
  }

.estudiantes li:hover{
	background-color:#99c5dd;
	transform:scale(1.05) rotate(5deg);
}

ul li span{
	display:block;
	margin-top:1rem;
}