	h1 {
			color:blue;
		
		}
		
		#imagen {
			border-top-left-radius: 30%;
			width: 200px; 
			height: 400px;
		}
		
		#p_1 {
			font-family:Arial;
		}
	
		a:link {
			color: orange; 			
		}
		
		a:visited {
			color: red; 			
		}
		
		a:hover {
			color: blue; 			
		}
		
		
		#td_1{
			border-style: solid; 
			box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
		}
	
