#name{
    color: green;
    font-size: 250%;
    font-family: 'Times New Roman', Times, serif;
}
#email{
    color: orange;
    font-family: 'Times New Roman', Times, serif;
}
#email:visited{
    color:red;
}
#description{
    font-family: sans-serif;
    font-style: italic;
}
#table{
    border: black 1px solid;
    box-shadow: 5px 5px 2px 0px gray;
    height: auto;
}
#photo{
    border-radius: 40px 0px 0px 0px;
    height: auto;
    margin-top: 0 !important;
}
    
.lp{
    font-weight: bold;
}
.content{
    margin: 2px;
}
td{
    font-family: 'Times New Roman', Times, serif;
}
.aligned{
    text-align: left;
    align-content: left;
}
.general_content{ 
    width: 100%;
    margin: 0 !important;
    max-width: 500rem !important;
}
.general_content img, .general_content table{
    margin: 2rem auto;
}

span{
    font-size: small;
}



