#name{
    color: green;
    font-size: 250%;
    font-family: 'Times New Roman', Times, serif;
}
#email{
    color: orange;
    font-family: 'Times New Roman', Times, serif;
}
#email:visited{
    color:red;
}
#description{
    font-family: sans-serif;
    font-style: italic;
}
#content_1{
    border: black 1px solid;
    box-shadow: 5px 5px 2px 0px gray;
}
#photo{
    border-radius: 40px 0px 0px 0px;
    width: 200px;
    height: 210px;
}
.lp{
    font-weight: bold;
}
.content{
    margin: 2px;
}
td{
    font-family: 'Times New Roman', Times, serif;
}