



a:link {
	text-decoration:none;   
	color: orange;
}

a:hover { 
	text-decoration: underline;
	color: orange;
}

a:visited {
	text-decoration:none;   
	color: red;
}



#contenido {
	border: 1px solid black;
	width: 100%;
	box-shadow: 5px 5px gray;
	padding: 6px;
	
	justify-content: space-evenly;
	max-width: 80rm;
	border: 0.2rem solid black;
	box-shadow: 0.5rem 0.5rem gray;
	padding: 2rem;
}



#nombre {
	color: orange; 
	font-family: verdana;
	font-size: 24pt;
	margin: 0;
}

#descripcion {
	font-family: arial;
	font-style: italic;
	margin-top: 3px;
}

#agenda {
	border: 0px solid black;
	padding: 0;
	width: 80%;
}

.negrita {
	font-weight: bold;
}
#imagen  {
	border-radius: 60px 0px 0px 0px;

	
  border: 0px solid black;
	width: 100%;
}

.row {
	margin: auto 0;
  }
  
  
  
  .bold {
	font-weight: bold;
  }