table.css_table1 {
	width:100%;

}

td.css_td1 {
	 border: red 1px solid;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	margin-left: 20px;
	margin-right: 20px;
}


h1.css_h1 {
	color: blue;
}

p.css_p1 {
	margin: 0;
	padding: 10px 0;
	color: black;
	font-style: italic;
}

p.css_p2 {
	margin: 0;
	padding: 10px 0;
	color: black;
}

p.css_p3 {
	margin: 0;
	padding: 10px 0;
	color: black;
	font-weight:bold;
}

/* unvisited link */
a:link {
  color: orange;
}

/* visited link */
a:visited {
  color: red;
}

/* mouse over link */
a:hover {
  color: blue;
}

/* selected link */
a:active {
  color: blue;
}

img.css_img {
  border-top-left-radius: 200px 100px;
}