h1 {
  color:orange;
  font-size:300%;
  font-family:verdana;
}

a:link {
  color: orange;
}

a:visited {
  color: red;
}

table {
	width: 100%;
}

td {
  vertical-align: top;
}

#foto {
	border: 0em solid black;
	width: 15%;
}

#foto img {
	border-radius: 3.75em 0em 0em 0em;
	height: 25em;
	width: 28.125em;
}

#contenido {
	border: 0.0625em solid black;
	width: 100%;
	box-shadow: 0.3125em 0.3125em gray;
	padding: 0.375em;
}

#nombre {
	color: orange; 
	font-family: verdana;
	font-size: 24pt;
	margin: 0;
}

#descripcion {
	font-family: arial;
	font-style: italic;
	margin-top: 0.1875em;
}

#agenda {
	border: 0em solid black;
	padding: 0;
	width: 80%;
}

.verdanaFont {
  font-family:verdana;
}

.negrita {
	font-weight: bold;
}