body{
	font-size: 25px;
}
h1{
	color:green;
	font-size: 40px
}
img{
	display: inline;
	float: left;
	height: 500px;
	border-top-left-radius:120px;
}
.container-info{
	padding: 10px;
	height: 480px;
	width: 70%;
	display: block;
	float:left;
	margin-left: 30px;
	border:solid;
	border-width: 1px;
	box-shadow: 7px 7px 0px 0px rgba(0,0,0,0.5);
}
a{
	color:orange;
}
a:visited  {
  color: green !important;
}

tbody tr:last-child td{
	font-weight: 700
}