
h1{
	color:green;
}
img{
	border-top-left-radius:120px;
	width:100%;
}
.busqueda{
	text-align:center !important;
}
.container-info{
	padding: 10px;
	width: 70%;
	display: block;
	float:left;
	margin-left: 30px;
	border:solid;
	border-width: 1px;
	box-shadow: 7px 7px 0px 0px rgba(0,0,0,0.5);
}
a{
	color:orange;
}
a:visited  {
  color: green !important;
}

tbody tr:last-child td{
	font-weight: 700
}


footer{
	height:auto;
	font-size:1vw !important;
}

