body{
	font-size: 11pt;
}

#img-perfil{
	border-top-left-radius: 30px; 
	margin: 5px;
}

.descripcion{
	border: 1px solid #000;
	box-shadow: 5px 5px #777;
	padding: 5px;
}

#nombre-perfil{
	color: #EE9C3C;
	font-size: 35px;
	display: block;
}

#nombre-perfil, #desc-perfil{
	font-family: verdana;
}

a{
	text-decoration: none;
	color: #EE9C3C;
}

a:visited{
	color: #D92626;
}

footer{
	display: flex;
	align-items: center !important;
	justify-content: center !important;
	padding: 5px !important;
}

@media (max-width: 767px){
	header{
		height: auto !important;
		max-height: 20% !important;
		padding-bottom: 0.2em !important;
	}

	ul li{
		border: none !important;
		text-align: center !important;
		font-size: 1em !important;
		padding: 0.2em 0 0.2em 0 !important;
		margin: 0.1em !important;
		line-height: 1.6 !important;
	}

	.logo{
		font-size: 1.5em !important;
	}


}


