#r11 {
	font-size: 200%;
	color: white;
}

#r12 {
	font-size: 170%;
	color: white;
}

#r13 {
	font-size: 170%;
	color: white;
}

#r21 {
	max-width: 25%;
	height: 10%;
	margin-left: 10%;
	border-top-left-radius: 100px;
}

#r22 {
	max-width: 50%;
	background-color: transparent; 
	border: 2px solid rebeccapurple;
	margin-left: 10%;
	box-shadow: 5px 10px #888888;
}

#r31{
  	font-size: 110%;
  	width: 100%;  
  	text-align: right;
  	background-color:#86b1ef; 
}

#primero {
	font-size: 50px;
	color: orange;
	display: inline;
}

#segundo {
	position: relative;
	font-size: 25px;
	color: black;
	display: inline;
}

.tercero {
	margin-top: 4px;
	font-size: 20px;
}


a:link {
	color: orange;
	font-size: 20px;
}

a:visited {
	color: red;
	font-size: 20px;
}